 .btn {
    display: block;
    margin: auto;
 }

 .matrix-container {
     display: inline-block;
 }

 .test-container{
     vertical-align: top;
     margin-top: 8px;
     overflow: auto;
     max-height: 600px;
     display: inline-block;
     width: 700px;
 }